<form action="/usuarioEdit" method="POST">

 <input type="hidden" name="id" value="{{usuario._id}}">

  <p>Nome: <input type="text" name="login" value="{{usuario.login}}"> </p>

  <p> Senha: <input type="text" name="senha"
  value="{{usuario.senha}}"> </p>

  <p> Pergunta Secreta <input type="text"
  name="pergunta_secreta" value="{{usuario.pergunta_secreta}}"> </p>

  <p>Resposta Secreta: <input type="text"
  name="resposta_secreta" value="{{usuario.resposta_secreta}}"> </p>
<br><br>
<input type="submit" value="Salvar">

</form>