 <h1> Lista  de Animais</h1>
<table border="1px" class="table table-striped">
    <thead  class="thead-dark"></thead>​
    <tr>​
        <td  scope="col"> Nome </td>​
        <td  scope="col">Proprietario</td>​
        <td  scope="col"> Endereco</td>
        <td  scope="col"> Tipo</td>
        <td  scope="col"> Raca</td>
        <td  scope="col">Imagem</td>
        <td  scope="col">Editar</td>
        <td  scope="col">Deletar</td>​
    </tr>
    </thead>
    <tbody>​
    {{#each animal}}​
    <tr>​
        <td  scope="row">{{nome}}</td>​
        <td>{{proprietario}}</td>​
        <td>{{endereco}}</td>
        <td>{{tipo}}</td>
        <td>{{raca}}</td>
        <td> <image width="50px" heigth="50px" src="uploads/{{imagem}}" </td>
        <td> <a href="animalEdit/{{_id}}" class="btn btn-dark">Editar</a></td>
        <td> <a href="alertaDelete/{{_id}}" class="btn btn-dark">Deletar</a></td>
    </tr>​
    {{/each}}
    </tbody>​
</table>


<div class="container">
    <div class="row">
        {{#each animal}}
        <div class="col-6 col-md-3">
            <div class="card">
                <img class="card-img-top" height="150px" src="uploads/{{imagem}}">
                <div class="card-body">
                    <h5 class="card-title">{{nome}}</h5>
                    <a href="animalEdit/{{_id}}"><button class="btn btn-dark">Editar</button></a>
                    <a href="alertaDelete/{{_id}}"> <button class="btn btn-dark">Deletar</button></a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>