<table border="1px">​
    <tr>​
        <td> Nome </td>​
        <td> Ingredientes</td>​
        <td> Modo de preparo</td>​
    </tr>​
    {{#each receitas}}​
    <tr>​
        <td>{{nome}}</td>​
        <td>{{nome Proprietario}}</td>​
        <td>{{endereco}}</td>
        <td>{{tipo}}</td>
        <td>{{raca}}</td>​
    </tr>​
    {{/each}}​
</table>