<table border="1px">​
    <tr>​
        <td> Nome </td>​
        <td>Proprietario</td>​
        <td> Endereco</td>
        <td> Tipo</td>
        <td> Raca</td>
        <td>Editar</td>
        <td>Deletar</td>​
    </tr>​
    {{#each animal}}​
    <tr>​
        <td>{{nome}}</td>​
        <td>{{proprietario}}</td>​
        <td>{{endereco}}</td>
        <td>{{tipo}}</td>
        <td>{{raca}}</td>
        <td> <a href="animalEdit/{{_id}}">Editar</a></td>
        <td> <a href="animalDelete/{{_id}}">Deletar</a></td>
​
    </tr>​
    {{/each}}​
</table>